
/*  GLOBAL STYLES */
/* ================================= */
body {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h2,
h3,
h4,
h5,
p,
a,
div {
  font-family:"Poppins", Helvetica, Arial, sans-serif;
}

p {
  font-size: 16px;
}

.btn-primary {
  background-color: #50c4b7;
  border: 0;
  border-radius: 17px;
  color: #ffffff;
  cursor: pointer;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-size: 21px;
  padding: 12px 45px;
}


/*  NAV STYLES  
================================= */
#nav-links.mobile-menu {
  background-color: rgba(116, 83, 238, 0.8);
  display: flex;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  margin-top: 0;
  flex-direction: column;
  justify-content: center;
}
#nav-links.mobile-menu li{
  margin: 35px auto;
}
#mobile-nav {
  margin-top: 20px;
  margin-left: 10%;
}
#mobile-nav div {
  width: 30px;
  height: 3px;
  margin: 6px 0;
  background-color: #ffffff;
  border-radius: 4px;
}
.nav-link a {
  color: #ffffff;
  text-decoration: none;
}
#site-nav {
  /* border-bottom: 4px solid rgba(116,83,238,0); */
  align-self: flex-start;
  -webkit-transition: background-color .5s ease, position .5s ease;
  transition: background-color .5s ease, position .5s ease, top .5s ease;
}
#nav-links {
  display: none;
  padding-left:0;
  text-align:center;
}
#site-nav li {
  display: block;
}
#site-nav.sticky-nav {
  width: 100%;
}
.top-nav {
  background-color: rgba(255,255,255,0);
}
.sticky-nav {
  background-color: rgba(255,255,255,0.9);
  border-bottom: 4px solid rgba(116, 83, 238,1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}
.sticky-nav ul {
  margin: 15px auto;
  min-width: 480px;
  width: 75%;
}
.sticky-nav .nav-link a {
  
  color: #616161;
}
.sticky-nav .nav-link a:hover {
  -webkit-transition: color .5s ease;
  transition: all .5s ease;
  color:#7453ee;
}


@media only screen and (min-width: 481px) {
  #nav-links {
    margin-left: auto;
    margin-right: auto;
    min-width: 475px;
    width: 65%;
  }
  #site-nav {
    align-self: initial;
    min-width: 480px;
    width: 50%;
  }
  #site-nav ul {
    display: flex;
    justify-content: space-between;
  }
  #site-nav li {
    display: inline-block;
  }
  #mobile-nav {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  #nav-links {
    min-width: 565px;
    width: 80%;
  }
}
@media only screen and (min-width: 1024px) {
  #site-nav {
    width: 60%;
  }
}




/*  HOME STYLES */
/* ================================= */
#home {
  background-color: #000000;
  padding: 20px 3% 0px;
}
.home-content-container {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}
.info {
  color: #ffffff;
  display: inline-block;
  margin: 0 auto;
}
.info h1 {
  text-align: center;
  font-size: 59px;
  font-weight: 700;
  font-family: 'Tangerine','Arapey', 'Times New Roman', Times, serif;
}
.info h2 {
  font-size: 23px;
  font-weight: 200;
  text-align: center;
}
.site-info-container{
  text-align: center;
  margin: 35px 0;
  width: 100%;
}
.social-container {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
  min-width: 375px;
  width: 50%;
}
.social-icon img {
  display:block;
}

@media only screen and (min-width: 481px) {
  #home {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .home-content-container {
    width: 50%;
    min-width: 475px;
    margin: 25px 0;
  }
  .info h1 {
    font-size: 105px;
  }
  .info h2 {
    font-size: 45px;
  }
}
@media only screen and (min-width: 1024px) {
  .home-content-container {
    width: 60%;
  }
}

/* ABOUT STYLES */
/* ================================= */
.about-img img {
  display: block;
  width: 100%;
}
.about-text-container {
  background-color: #7453ee;
}
.about-text {
  background-color: #7453ee;
  color: #ffffff;
  padding: 35px 5%;
  text-align: center;
}

@media only screen and (min-width: 481px) {
  #about {
    display: flex;
    flex-direction: row-reverse;
  }
  #about div {
    flex: 50%;
  }
  #about .about-img {
    /* flex: 30%; */
  }
  .about-img img {
    width: 100%;
    height: 100%;
  }
  .about-text-container {
    display: flex;
    align-items: center;
  }
  .about-text {
    padding: 30px 5% 35px;;
  }
  .about-text p {
    line-height: 1.5em;
  }
}
@media only screen and (min-width: 1024px) {
  .about-text {
    margin: 30px 10% 35px;
  }
  .about-text p {
    line-height: initial;
  }
}

/* GALLERY STYLES */
/* ================================= */
.gallery-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
  max-width: 1400px;
  width: 100%;
}
.gallery-item {
  font-size: 0;
  display: inline-block;
  margin: 0;
  width: 50%;
}
.gallery-item img{
  display: block;
  height: 200px;
  margin: 0;
  object-fit: cover;
  width: 100%;
}
#gallery {
  background-color: #f7f7f7;
  padding: 10px 0;
}

@media only screen and (min-width: 481px) {
  #gallery {
    padding: 35px 0;
  }
  .gallery-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%
  }
  .gallery-item {
    margin: 0 5px;
    flex: 1 0 22%;
    width: 100%;
  }
  .gallery-item img {
    border-radius: 10px;
    height: auto;
    margin: 10px 0;
  }
}

/* RESUME 
==================================== */
#resume {
  padding: 50px 0;
  text-align: center;
}
#resume .logo img {
  width: 100%;
  max-width: 400px;
}

#resume .title-container {
  border: 6px solid #7453ee;
  display: inline-block;
  text-align: center;
}
#resume .title {
  background-color: #7453ee;
  display: inline-block;
  margin: 0 auto;
  padding: 12px 22px;
  border: 6px solid #ffffff;
  text-align: center;
}
#resume .title h2 {
  color: #ffffff;
  text-transform: uppercase;
}

.resume-category {
  margin: 0 auto 45px;
  width: 90%;
}
.resume-container {
  padding-top: 20px;
}
.resume-container h3 {
  color: #7453ee;
  font-weight: 600;
  text-decoration: underline;
}
.resume-container .contact button {
  display: block;
  margin: 0 auto;
}
.resume-credit-wrap {
  padding: 10px 0;
  text-align: center;
}
.resume-credit-wrap .credit-row-1 {
  font-size: 18px;
  font-weight: 700;
}
.resume-credit-wrap .credit-row-2 {
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
}
.resume-credit-wrap .credit-row-3 {
  font-size: 16px;
  font-weight: 300;
}

.resume-credit-wrap h4,
.resume-credit-wrap h5,
.resume-credit-wrap p {
  line-height: 1.5em;
  margin: 0;
  color: #616161;
}
.resume-school {
  align-items: center;
  color: #616161;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px 0 60px;
}
.resume-school .logo {
  margin: 0 auto 15px;
}
.resume-school .logo img {
  display: block;
  margin: 0 auto;
}
.resume-school .school-info {
  text-align: center;
}
.resume-school p {
  font-style: italic;
  font-weight: 300;
}

@media only screen and (min-width: 481px) {
  .resume-category {
    width: 33%;
  }
  .resume-school {
    align-items: center;
    flex-direction: row;
  }
  .resume-school .logo {
    margin: 0 50px 0 0;
  }
}


@media only screen and (min-width: 481px){
  .resume-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
  }
  .resume-school,
  .resume-container .contact {
    flex: 1 100%;
  }
}
/* Social Media
==================================== */
.diagonal-border {
  position: relative;
  width: 100%; 
  height: 95px;
  margin-bottom: 45px;
}
.diagonal-border::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  clip-path: polygon(100% 0, 0 0, 0 100%);
}
.diagonal-border::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #7453EE;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}
.ig-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}
.ig-post img{
  display: block;
}
#social-media {
  background-color: #7453EE;
  padding: 0px 0 45px;
}

.social-handle {
  color: #ffffff;
  text-decoration: none;
}
.social-info {
  margin: 0 auto 25px;
  text-align: center;
}
.social-info i {
  color: #ffffff;
  display: block;
  font-size: 45px;
  margin: 0 auto 5px;
}

#social-media .title {
  color: #ffffff;
  text-align: center;
}
.social-media-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.social-twitter {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
}
.twitter-posts {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  flex: 1;
  width: 100%;
}
.twitter-posts .post {
  background-color: #cacaca;
  border: 1px solid #000000;
  border-radius: 20px;
  height: 75px;
  width: 90%;
  margin: 7px auto;
}
@media only screen and (min-width: 481px) {
  .social-media-container {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
  }
  .social-twitter {
    margin-top: 0;
  }
  .social-wrapper {
    width: 48%;
  }
  
}


/* CONTACT FORM STYLES
================================ */
#contact {
  background-color: #ad7dbb;
}
.contact-form-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 55px 0;
}

/* BACK TO Top
================================ */
#toTop {
  top: -28px;
  right: 0;
  height: 55px;
  width: 55px;
  background-color: #50C5B7;
  border-radius: 50px;
  margin-right: 4%;
  position: absolute;
  text-align:center;
}
#toTop:hover {
  cursor: pointer;
}
#toTop i  {
  color: #ffffff;
  font-size: 30px;
  line-height: 55px;
}

@media only screen and (min-width: 481px) {
  #toTop {
    top: -39px;
    height: 75px;
    width: 75px;
  }
  #toTop i  {
    color: #ffffff;
    font-size: 35px;
    line-height: 74px;
  }
}


/* FOOTER STYLES
================================ */
footer {
  background-color: #5a5a5a;
  padding: 25px 0;
  position: relative;
}
#footer .copyright {
  color: #ffffff;
  text-align: center;
}
#footer .name {
  color: #ffffff;
  font-family: 'Tangerine', cursive;
  font-size: 45px;
  text-align: center;
}
.foot-social-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px auto;
}
.foot-social-container .social {
  margin: 0 12px;
}